* {
  background-color: #E2D1F9
  
}

body {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 10px;
  padding-left: 100px;
  border: solid black;
  
}

h1 {
  color: #317773;
  text-align:end;
}

h2 {
  color: darkmagenta;
}

p{
 color: darkgreen;
 font-weight: bold;
}

ul {
  color: red;
  font-size: 20px;
  font-family: 'sans-serif';
}

li { 
  color: black;
}

.imageStyle {
  width: 500px;
  height: 400px;

}

.imageStyle:hover {
  transform: scale(1.5); 
}


button {
  width: 60px;
  height: 30px;
  border-radius: 60px;
}

button:hover {
  background-color: mediumaquamarine;
}

